<% include parts/header.ejs %>
<section id="nav-container">
    <nav id="nav" data-at="<%= nav %>" onselectstart="return false;">
        <div class="nav-mask-top"></div>
        <a class="nav-item" href="/" data-nav="index" data-theme="#A8D8B9">首页<span class="color"></span></a>
        <a class="nav-item" href="/game" data-nav="game" data-theme="#66BAB7">桌游<span class="color"></span></a>
        <a class="nav-item" href="/graffiti" data-nav="graffiti" data-theme="#A5DEE4">涂鸦<span class="color"></span></a>
        <a class="nav-item" href="/about" data-nav="about" data-theme="#81C7D4">作品<span class="color"></span></a>
        <div class="nav-mask-bottom"></div>
    </nav>
    <canvas id="nav_canvas"></canvas>
</section>
<section id="nav2-container">
    <nav id="nav2" data-at="<%= nav %>" onselectstart="return false;">
        <a class="nav-item" href="/" data-nav="index" data-theme="#A8D8B9">首页<span class="color"></span></a>
        <a class="nav-item" href="/game" data-nav="game" data-theme="#66BAB7">桌游<span class="color"></span></a>
        <a class="nav-item" href="/graffiti" data-nav="graffiti" data-theme="#A5DEE4">涂鸦<span class="color"></span></a>
        <a class="nav-item" href="/about" data-nav="about" data-theme="#81C7D4">作品<span class="color"></span></a>
    </nav>
</section>
<section id="main-container">

    <% if(nav === 'index') { %>
        <% include main/index.ejs %>
    <% }else if(nav === 'game'){ %>
        <% include main/game.ejs %>
    <% }else if(nav === 'graffiti'){ %>
        <% include main/graffiti.ejs %>
    <% }else if(nav === 'about'){ %>
        <% include main/about.ejs %>
    <% }else if(nav === '404'){ %>
        <% include main/404.ejs %>
    <% } %>

</section>

<script src="/js/main.js"></script>

<% include parts/footer.ejs %>
