<% include _parts/header.ejs %>
<section id="nav-container">
    <nav id="nav" onselectstart="return false;">
        <a class="nav-item<%= nav==='index'?' at':'' %>" href="/" data-theme="#A8D8B9">首页</a>
        <a class="nav-item<%= nav==='graffiti'?' at':'' %>" href="/graffiti" data-theme="#A5DEE4">涂鸦</a>
        <a class="nav-item<%= nav==='about'?' at':'' %>" href="/about" data-theme="#ECB88A">关于</a>
    </nav>
    <canvas id="nav_canvas"></canvas>
</section>

<section id="content">

    <% if(nav === 'index') { %>
        <% include _main/index.ejs %>
    <% }else if(nav === 'graffiti'){ %>
        <% include _main/graffiti.ejs %>
    <% }else if(nav === 'about'){ %>
        <% include _main/about.ejs %>
    <% }else if(nav === '404'){ %>
        <% include _main/404.ejs %>
    <% } %>

</section>

<% include _parts/svg.ejs %>

<script src="/js/main.js"></script>

<% include _parts/footer.ejs %>
