/* 默认样式 */
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Microsoft YaHei', Helvetica, Arial, monospace;
    font-size: 16px;
}

button{
    border: none;
    outline: none;
}
/* 通用*/
.hide{
    display: none;
}


/* btn */
.btn{
    background-color: #0e90d2;
    color: #fff;
}

.btn-lg{
    font-size: 1.2rem;
    padding: 0.75rem 1.2rem;
    border-radius: 0.3rem;
}

.btn-md{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.btn-sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
}
/* nav */
nav{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #eef;
    z-index: 100;
}
.nav-item{
    cursor: pointer;
    display: block;
    padding: 10px;
    background: green;
    z-index: 101;
}
#canvas_float{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* player */
#player .control-btn{
    height:50px;
    width:50px;
    fill:#fff;
    stroke:#ddd;
    stroke-width: 25;
    transition: all .5s ease;
}
#player .control-btn:hover{
    fill:#aaa;
    stroke:#fff;
}

#player .mode-btn{
    height:30px;
    width:30px;
    fill:#ddd;
    stroke:none;
    transition: all .5s ease;
}
#player .mode-btn:hover{
    fill:#aaa;
}

#player [data-part="progress_bar"]{
    height:10px;
    width:300px;
    background: #eef;
}
#player [data-part="volume_bar"]{
    height:100px;
    width:10px;
    background: #eef;
}

