/* 默认样式 */
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Microsoft YaHei', Helvetica, Arial, monospace;
    font-size: 16px;
}

button{
    border: none;
    outline: none;
}
/* 通用*/
.hide{
    display: none;
}
.show{
    display: block;
}

/* btn */
.btn{
    background-color: #0e90d2;
    color: #fff;
}

.btn-lg{
    font-size: 1.2rem;
    padding: 0.75rem 1.2rem;
    border-radius: 0.3rem;
}

.btn-md{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.btn-sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
}

/* player */
#player{
    position: fixed;
    bottom: 0;
    left:0;
    height:60px;
    width:100%;
    background: rgba(0,0,0,.8);
}
#player .container{
    width:1000px;
    height:100%;
    margin:0 auto;
}

#player [data-part]{
    float:left;
}
#player [data-info="cover"]{
    width:50px;
    height:50px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 10%;
}
#player .control-btn{
    height:50px;
    width:50px;
    fill:#fff;
    stroke:#ddd;
    stroke-width: 25;
    transition: all .5s ease;
    float:left;
}
#player .control-btn:hover{
    fill:#aaa;
    stroke:#fff;
}

#player .audio-btn{
    height:30px;
    width:30px;
    fill:#ddd;
    stroke:none;
    transition: all .5s ease;
}
#player .audio-btn:hover{
    fill:#aaa;
}

#player .info-bar {
    height:10px;
    width:300px;
    background: #fff;
    position: relative;
}
#player .info-bar .bar{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
#player [data-bar="volume_bar"]{
    height:100px;
    width:10px;
    background: #eef;
}

#player [data-part="volume"]{
    position:absolute;
    height:200px;
    width:100px;
    right:400px;
    bottom:0;
}

#player .list{
    position:absolute;
    right:0;
    bottom:0;
    width: 500px;
    height: 200px;
    background: rgba(0,0,0,.8);
    color: #797979;
}
#player .list-title{
    width: 100%;
    height: 24px;
    background: #000;
}
#player .list-content{
    width:100%;
    height: calc(100% - 24px);
}
#player .list-view{
    width: calc(100% - 10px);
    height: 100%;
    overflow: hidden;
    float:left;
    position:relative;
}
#player .list-ul{
    position:absolute;
    top:0;
    left:0;
}
#player .list-bar{
    width: 10px;
    height: 100%;
    background: #111;
    float: right;
}

#player .list-ul li{
    list-style: none;
    cursor: default;
}

#player .list-ul li.at{
    color: #b1b1b1;
    font-weight: bold;
}

#player .list-ul li:hover{
    background: #213;
}


