


<div>
    <canvas id="graffiti-editor"></canvas>
</div>
<div class="graffiti-controller">
    <div class="draw-group">
        <div data-action="shape" title="形状" class="draw"></div>
        <div data-action="stroke" title="线条" class="draw"></div>
        <div data-action="fill" title="填充" class="draw"></div>
        <div data-action="width" title="粗细" class="draw"></div>
    </div>
    <div class="btn-group">
        <button data-action="undo" class="btn btn-green btn-md">撤销</button>
        <button data-action="download" class="btn btn-green btn-md">下载</button>
        <button data-action="submit" class="btn btn-red btn-md">提交</button>
    </div>

</div>
<div class="graffiti-board">

</div>

<svg width="0" height="0">
    <defs>
        <path stroke="#fff" stroke-width="20" id="svgpath_shape_line" d="M516.78 995.072l-25.754-56.542c98.445-44.836 153.147-106.751 158.193-179.053 4.954-70.997-40.929-146.257-119.745-196.414-53.102-33.792-113.829-73.721-162.453-119.991-58.711-55.867-90.401-111.703-96.877-170.699-4.175-38.043 2.549-77.095 19.988-116.073 18.075-40.398 48.326-81.967 89.908-123.55l43.933 43.933c-67.45 67.45-98.427 131.007-92.071 188.909 10.683 97.321 119.938 174.421 230.926 245.051 47.034 29.93 85.633 68.457 111.628 111.415 27.355 45.206 40.058 94.22 36.741 141.742-3.225 46.197-20.934 89.331-52.635 128.207-33.13 40.629-80.832 75.303-141.783 103.062z"></path>
        <path stroke="#fff" stroke-width="0" id="svgpath_shape_straight" d="M930.263 61.981l31.756 31.756-868.272 868.272-31.756-31.756 868.272-868.272z"></path>
        <path stroke="#fff" stroke-width="20" id="svgpath_shape_triangle" d="M1020.303667 952.185394 3.69531 952.185394l508.304178-880.370789L1020.303667 952.185394zM115.03968 887.904369l793.918594 0L511.999488 200.379727 115.03968 887.904369z"></path>
        <path stroke="#fff" stroke-width="30" id="svgpath_shape_circle" d="M512 1005.568c-272.384 0-493.568-221.696-493.568-493.568S239.616 18.432 512 18.432s493.568 221.696 493.568 493.568-221.184 493.568-493.568 493.568zM512 102.4c-225.792 0-409.6 183.808-409.6 409.6s183.808 409.6 409.6 409.6 409.6-183.808 409.6-409.6-183.808-409.6-409.6-409.6z"></path>
        <path stroke="#fff" stroke-width="35" id="svgpath_shape_rectangle" d="M0 86.016l0 851.968 1024 0L1024 86.016 0 86.016zM937.984 851.968 86.016 851.968 86.016 172.032l851.968 0L937.984 851.968z"></path>
        <path stroke="#fff" stroke-width="0" id="svgpath_shape_eraser" d="M930.36 380.45L656.817 106.906c-35.544-35.545-93.184-35.545-128.728 0L93.64 541.355c-35.544 35.544-35.544 93.184 0 128.728l199.202 199.18 0.205 0.181-6.28-6.28c79.985 79.986 209.646 79.986 289.632 0l-1.07 1.07 0.046-0.046L930.384 509.2c35.521-35.567 35.521-93.207-0.023-128.75zM335.03 843.275L210.74 721.397v0.022l-88.201-88.223c-17.772-17.772-17.772-46.603 0-64.353l80.918-78.552 343.564 341.174c-53.34 53.294-158.697 65.104-211.991 11.81z m561.72-363.93L654.747 723.74v-0.022l-75.549 75.548L235.634 458.07l317.554-319.92c17.772-17.75 46.58-17.75 64.352 0l279.21 276.844c17.75 17.795 17.75 46.603 0 64.353z"></path>
    </defs>
</svg>

<script src="/js/graffiti.js"></script>
