<div id="about">
    <div class="info">

    </div>
    <div class="works">
        <h1 class="title">前端组件</h1>
        <ul class="list">
            <li>
                <a href="https://github.com/nossika/DotText.js" target="_blank">DotText.js</a>
                <p>绘制由小圆点组成的、带有切换动画的任意文字。</p>
            </li>
            <li>
                <a href="https://github.com/nossika/H5-audio-core" target="_blank">H5-audio-core</a>
                <p>对浏览器audio对象的进一步封装，加入lrc解析功能，使其方便用于制作各种音乐播放器。</p>
            </li>
            <li>
                <a href="https://github.com/nossika/polygon.js" target="_blank">polygon.js</a>
                <p>绘制一个或多个任意边数的正多边形，可添加文字标签和动画，适合用于数据可视化。</p>
            </li>
            <li>
                <a href="https://github.com/nossika/float.js" target="_blank">float.js</a>
                <p>生成一系列随机漂浮的小圆点，带有和鼠标事件的交互动画，可将其加在背景图上。</p>
            </li>
            <li>
                <a href="https://github.com/nossika/bar.js" target="_blank">bar.js</a>
                <p>创建一个带拖动功能的条，通过调整配置可用于范围选择器、进度指示条、页面滚动条等不同场景。</p>
            </li>
            <li>
                <a href="https://github.com/nossika/waterfall.js" target="_blank">waterfall.js</a>
                <p>自动设置指定容器中各个子元素位置，成为瀑布流布局。</p>
            </li>
        </ul>

        <h1 class="title">小玩具</h1>
        <ul class="list">
            <li>
                <a href="https://nossika.github.io/Maze-solution-by-BFS/demo.html" target="_blank">Maze-solution-by-BFS</a>
                <p>用广度优先算法求出自定义迷宫的最短路径。</p>
            </li>
            <li>
                <a href="https://nossika.github.io/canvas-dodge-game/" target="_blank">canvas-dodge-game</a>
                <p>控制屏幕中的红点躲避子弹。</p>
            </li>
        </ul>

        <h1 class="title">Vue.js实践</h1>
        <ul class="list">
            <li>
                <a href="https://nossika.github.io/memory-card-by-vue/dist/index.html">memory-card-by-vue</a>
                <p>用Vue+Vuex写的记忆小游戏。</p>
            </li>
        </ul>

        <h1 class="title">Node.js工具</h1>
        <ul class="list">
            <li>
                <a href="https://github.com/nossika/douban-crawler" target="_blank">douban-crawler</a>
                <p>豆瓣爬虫程序，可从小组话题中根据关键词过滤出帖子；可通过电影名获取电影相关信息和评论。</p>
            </li>
            <li>
                <a href="https://github.com/nossika/lrc-parser-for-CloudMusic" target="_blank">lrc-parser-for-CloudMusic</a>
                <p>从网易云音乐客户端的文件中提取歌词生成标准格式的lrc文件。</p>
            </li>
        </ul>
    </div>

</div>

